[Desktop Entry]
Type=Application
Name=Groundwork
Comment=Set up a new openSUSE install the way you want
Exec=groundwork
Icon=groundwork
Categories=System;Settings;
Terminal=false
